.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 900px;
    margin: auto;
    position: relative;
  }
  
  .logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    border-radius: 8px;
  }
  
  .logo {
    width: 200px;
    height: auto;
  }
  
  .form-container {
    border: 2px solid black;
    padding: 30px;
    border-radius: 5px;
    width: 300px;
    text-align: left;
  }
  
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .requirements {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .success {
    color: green;
  }
  
  .normal {
    color: black;
  }
  
  .bullet {
    color: black;
  }
  